* {
    box-sizing: border-box; /* Para garantir que padding e border não afetem as dimensões */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Fundo claro para contraste */
}

.container {
    text-align: center;
}

.title {
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaço entre o título e o quadrado */
}

.box {
    width: 300px; /* Aumentando o tamanho do quadrado */
    height: 300px; /* Aumentando o tamanho do quadrado */
    animation: rotate 10s infinite;
    margin: 0 auto; /* Centraliza horizontalmente */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        background-color: blue;
    }
    25% {
        transform: rotate(90deg);
        background-color: red;
    }
    50% {
        transform: rotate(180deg);
        background-color: green;
    }
    75% {
        transform: rotate(270deg);
        background-color: yellow;
    }
    100% {
        transform: rotate(360deg);
        background-color: blue;
    }
}
